header {
  background: linear-gradient(
      0deg,
      rgba(44, 44, 44, 0.6),
      rgba(44, 44, 44, 0.6)
    ),
    url(https://uploads.codesandbox.io/uploads/user/bc0210bd-6447-4414-ae9a-4e6f571b8290/6_nG-fond.jpg
    );
  background-size: cover;
  height: 550px;
	display: flex;
	align-items: center;
  justify-content: center;
  background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
}
h1 {
  font-size: 56px;
  color: white;
}
body {
  font-family: Montserrat;
	margin: 0;
}
.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 70%;
  margin: 70px auto;
  padding: 20px;
  padding-top: 0;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}
.presentation img {
  border-radius: 50%;
  width: 150px;
  margin-top: -30px;
}
h2 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 15px;
}
/* COMPETENCES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.competences {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 70px auto;
  padding: 20px;
  padding-top: 0;
}

.conteneur {
  margin: 0 auto 70px auto;
  padding: 20px;
  width: 70%;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
  text-align: left;
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
}

.colonne {
  flex: 50%;
  padding-right: 15px;
  padding-left: 15px;
}
.conteneur-progres {
  margin-bottom: 20px;
  font-size: 18px;
  position: relative;
  width: 100%;
}

.valeur,
.badge {
  color: #0b707e;
  font-size: 0.8571em;
  text-transform: uppercase;
}

.valeur {
  position: absolute;
  top: 2px;
  right: 0;
  font-size: 0.8571em;
}

.progres {
  margin-top: 14px;
  background: rgba(25, 105, 129, 0.4);
}

.barre {
  height: 5px;
  background: #129daf;
}
/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

html {
  overflow-x: hidden;
}

.timeline h2 {
  text-align: center;
}

.timeline ul {
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: rgba(25, 105, 129, 0.4);
  color: white;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline .bulle {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: rgba(18, 157, 175, 0.8);
  box-sizing: border-box;
}

.timeline .bulle::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) .bulle {
  left: 45px;
}

.timeline ul li:nth-child(odd) .bulle::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent rgba(18, 157, 175, 0.8) transparent transparent;
}

.timeline ul li:nth-child(even) .bulle {
  left: -439px;
}

.timeline ul li:nth-child(even) .bulle::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent rgba(18, 157, 175, 0.8);
}

.timeline ul li::after {
  background: rgba(18, 157, 175, 1);
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

.bulle span {
  font-weight: bold;
}
/* CONTACT
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px auto;
  width: 60%;
}

iframe {
  margin-top: 30px;
  margin-bottom: 30px;
	width: 100%;
}
form {
  width: 100%;
  margin-top: 40px;
}

.row {
  display: flex;
  flex-direction: row;
}

.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #d9d9d9;
  flex-grow: 1;
}

.form-group:first-of-type {
  margin-right: 30px;
}

label {
  font-size: 16px;
  color: #999999;
  padding: 5px;
}

input {
  width: 100%;
  color: #555555;
  border: none;
  height: 40px;
  padding: 5px;
  margin-top: 5px;
  font-size: 18px;
  font-family: Montserrat;
}

textarea {
  border: none;
  min-height: 110px;
  color: #555555;
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  font-family: Montserrat;
  font-size: 18px;
}

::placeholder {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: bold;
}

.btn {
  margin-top: 20px;
  padding: 0 20px;
  min-width: 130px;
  height: 50px;
  background-color: rgba(18, 157, 175, 1);
  border-radius: 5px;
  border: none;
  font-size: 16px;
  color: white;
}
/* MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  h1 {
    padding: 10px;
  }

  .about {
    width: 100%;
    padding: 0;
    margin: 70px auto;
  }

  .about p {
    padding: 0 15px;
  }

  .skills-content {
    width: 100%;
    padding: 15px 0;
  }

  .timeline .bubble {
    width: 250px;
  }

  .timeline ul li:nth-child(even) .bubble {
    left: -289px;
    /*250+45-6*/
  }

	.contact {
	  margin: 30px;
	  width: unset;
	}
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 46px;
  }

  .progress-value,
  .progress-badge {
    font-size: 12px;
  }

  .timeline ul li {
    margin-left: 20px;
  }

  .timeline .bubble {
    width: calc(100vw - 91px);
  }

  .timeline ul li:nth-child(even) .bubble {
    left: 45px;
  }

  .timeline ul li:nth-child(even) .bubble::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent rgba(18, 157, 175, 0.8) transparent transparent;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  .row {
    flex-direction: column;
  }

  .form-group:first-of-type {
    margin-right: 0;
  }
}